body {
  font-family: var(--font-poppins) !important;
  background-color: var(--light-bg);
}

.container {
  @apply max-w-7xl mx-auto;
}

.container-p {
  @apply px-4 md:px-6 xl:px-8;
}

/* ================  Hero Section SWiper ================ */
.heroSection .swiper-slide {
  position: static !important;
}

.heroSection .swiper-horizontal .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply !-bottom-1 !z-100;
}

.heroSection .swiper-pagination-bullet {
  @apply !h-4 !w-4
}
.heroSection .swiper-pagination-bullet-active {
  @apply bg-primary
}