.primary_btn {
  background-color: var(--color-primary) !important;
  color: white;
  border-radius: 50px;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.square.primary_btn,
.square.primary_btn::before {
  border-radius: 6px;
  border: 0.5px solid var(--color-primary) !important;
  font-weight: 600;
}

.primary_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  transition: 0.6s all;
  z-index: -1;
}

.primary_btn:hover::before {
  width: 100%;
}

.primary_btn:hover {
  color: var(--color-primary) !important;
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* purple Border button */
.border-primary_btn {
  background-color: white !important;
  color: var(--color-primary);
  border-radius: 50px;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
  border: 1px solid var(--color-primary);
}

.square.border-primary_btn,
.square.border-primary_btn::before {
  border-radius: 6px;
  border: 0.5px solid var(--color-primary) !important;
  font-weight: 600;
}

.border-primary_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 50px;
  transition: 0.6s all;
  z-index: -1;
}

.border-primary_btn:hover::before {
  width: 100%;
}

.border-primary_btn:hover {
  color: white !important;
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
