body {
  font-family: var(--font-poppins) !important;
  background-color: var(--light-bg);
}

.container {
  @apply max-w-7xl mx-auto;
}

.container-p {
  @apply px-4 md:px-6 xl:px-8;
}

.active {
  @apply text-primary;
}

/* ================== About Section Start Here ================== */
/* Smooth float animation */
@keyframes smoothFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
}

/* ================== Apply continuous smooth animation ==================*/
.smooth-float {
  animation: smoothFloat 3.5s ease-in-out infinite;
  will-change: transform;
}

.smooth-float-delayed {
  animation: smoothFloat 4.5s ease-in-out infinite;
  animation-delay: 1s;
  will-change: transform;
}

/* ================== About Section end Here ================== */

/* ================== Contact Section Start Here ================== */

.react-international-phone-input-container .react-international-phone-input {
  @apply !bg-primary !border-0 !pe-0 !w-10;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  @apply border-0 !bg-primary;
}

/* ================== Contact Section End Here ================== */

/* ================  Interface Section SWiper Start ================ */
#interface .swiper-slide {
  position: static !important;
}

#interface .swiper-horizontal .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply !-bottom-1 !z-100;
}

#interface .swiper-pagination-bullet {
  @apply sm:!w-3 sm:!h-3;
}
#interface .swiper-pagination-bullet-active {
  @apply bg-primary;
}
/* ================  Interface Section SWiper End  ================ */

/* ================  Testimonial Section SWiper Start ================ */
#review .swiper-horizontal .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply !-bottom-1 !z-100;
}

#review .swiper-pagination-bullet {
  @apply sm:!w-4 sm:!h-4;
}
#review .swiper-pagination-bullet-active {
  @apply bg-primary;
}
/* ================  Testimonial Section SWiper End ================ */

/* ================  Material UI Tab  Section Start ================ */

.DetailsTabs .MuiTabs-list.MuiTabs-flexContainer {
  @apply flex sm:grid grid-cols-4 gap-0;
}
.DetailsTabs .MuiTabs-list.MuiTabs-flexContainer button {
  @apply !font-extrabold;
}

/* .LecturesTabs .MuiTabs-list.MuiTabs-flexContainer {
  @apply flex sm:grid grid-cols-4 gap-0;
} */
.LecturesTabs .MuiTabs-list.MuiTabs-flexContainer button {
  @apply !font-bold;
}
.LecturesTabs .MuiTabs-list.MuiTabs-flexContainer .Mui-selected {
  @apply !bg-card-bg !rounded-l-lg;
}

/* ================  Material UI Tab  Section End ================ */

/* ================  Course Section Start ================ */

#purchase .ant-select-selector {
  @apply !py-6 placeholder:!font-medium !px-4;
}
#purchase .ant-select-selection-placeholder {
  @apply !font-medium;
}
#purchase .ant-select-arrow {
  @apply !mt-1;
}

/* ================  Course Section End ================ */

/* ================  Video Modal Section End ================ */

.YT-Modal .ant-modal-content {
  @apply !p-0;
}
.YT-Modal .ant-modal-close {
  @apply !hidden;
}

/* ================  Video Modal  Section End ================ */

/* ================  Payment Page Buttons Section Start ================ */

.paymentSuccess .ant-input-group-addon:last-child .ant-input-search-button {
  @apply !bg-success;
}
.paymentSuccess .ant-input-outlined:focus,
.paymentSuccess .ant-input-outlined:hover {
  @apply !border-success;
}
/* ================  Payment Page Buttons Section End ================ */
