:root {
  --primary: #eb8844;
  --success: #288f66;
  --success-dark: #50655e;
  --light-bg: #f6f4fe;
  --card-bg: #f5f5f5;
  --font-poppins: "Poppins", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-success-dark: var(--success-dark);
  --color-light-bg: var(--light-bg);
  --color-card-bg: var(--card-bg);
}
